{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Accident</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% sass_src 'app/css/style.scss' %}" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% block style %}
    {% endblock %}
</head>
<body>
    {% include 'app/header.html' %}

    {% block content %}
    {% endblock %}

    {% include 'app/footer.html' %}
</body>
</html>