{% extends "app/base.html" %}

{% block content %}
<div class="content">
    <h1 style="color: red;">2021-07 / </h1>
    <h2>글을 작성하면서 여러 기분이 많이 드는 사진들입니다.</h2>
    <h2>퇴원을 세브란스에서 하기도 했고, 친구들한테 기프티콘도 많이 받아서 배달시켜 먹기도하고</h2>
    <h2>어머니,아버지,형과도 자주 만날 수 있게 되었고,</h2>
    <h2>참 많은 것들이 감정을 흔드네요</h2>
    <h2>저 때 찍은 사진들은 서송병원에서도 휠 체어를 탑승했지만 세브란스에서 물리치료를 받으면서</h2>
    <h2>걷기도 시작한 부분이기도 합니다. 아래 사진을 같이 보시죠!!</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>
      <li data-target="#myCarousel" data-slide-to="8"></li>
      <li data-target="#myCarousel" data-slide-to="9"></li>
      <li data-target="#myCarousel" data-slide-to="10"></li>
      <li data-target="#myCarousel" data-slide-to="11"></li>
      <li data-target="#myCarousel" data-slide-to="12"></li>
      <li data-target="#myCarousel" data-slide-to="13"></li>
      <li data-target="#myCarousel" data-slide-to="14"></li>
      <li data-target="#myCarousel" data-slide-to="15"></li>
      <li data-target="#myCarousel" data-slide-to="16"></li>
      <li data-target="#myCarousel" data-slide-to="17"></li>
      
    </ol>

    <div class="carousel-inner">
      <div class="item active">
        <img src="/static/app/fourth_1.jpeg">
      </div>

      <div class="item">
        <img src="/static/app/fourth_2.jpeg">
      </div>

      <div class="item">
        <img src="/static/app/fourth_3.jpeg">
      </div>

      <div class="item">
        <img src="/static/app/fourth_4.jpeg">
      </div>

      <div class="item">
        <img src="/static/app/fourth_5.jpeg">
      </div>

      <div class="item">
        <img src="/static/app/fourth_6.jpeg">
      </div>

      <div class="item">
        <img src="/static/app/fourth_7.jpeg">
      </div>

      <div class="item">
        <img src="/static/app/fourth_8.jpeg">
      </div>

      <div class="item">
        <img src="/static/app/fourth_9.jpeg">
      </div>

      <div class="item">
        <img src="/static/app/fourth_10.jpeg">
      </div>

      <div class="item">
        <img src="/static/app/fourth_11.jpeg">
      </div>

      <div class="item">
        <img src="/static/app/fourth_12.jpeg">
      </div>

      <div class="item">
        <img src="/static/app/fourth_13.jpeg">
      </div>

      <div class="item">
        <img src="/static/app/fourth_14.jpeg">
      </div>

      <div class="item">
        <img src="/static/app/fourth_15.jpeg">
      </div>

      <div class="item">
        <img src="/static/app/fourth_16.jpeg">
      </div>

      <div class="item">
        <img src="/static/app/fourth_17.jpeg">
      </div>

      <div class="item">
        <img src="/static/app/fourth_18.jpeg">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

{% endblock %}