{% extends "app/base.html" %}

<head>
    <style>
		.bigPictureWrapper {
			position: absolute;
			display: none;
			justify-content: center;
			align-items: center;
			top:0%;
			width:100%;
			height:100%;
			background-color: gray; 
			z-index: 100;
			background:rgba(255,255,255,0.5);
		}
		.bigPicture {
			position: relative;
			display:flex;
			justify-content: center;
			align-items: center;
		}
		
		.bigPicture img {
			width:600px;
		}
	</style>
</head>
{% block content %}
<br><br>

	<div class='bigPictureWrapper' style="text-align: center">
		<div class='bigPicture'>
		</div>
	</div>
	<img class="photos" src="/static/app/first_1.jpeg" >
    <img class="photos" src="/static/app/first_2.jpeg" >
    <img class="photos" src="/static/app/first_3.jpeg" >
    <img class="photos" src="/static/app/first_4.jpeg" >
    <img class="photos" src="/static/app/first_5.jpeg" >
    <img class="photos" src="/static/app/first_6.jpeg" >
    <img class="photos" src="/static/app/second_1.jpeg" >
    <img class="photos" src="/static/app/second_2.jpeg" >
    <img class="photos" src="/static/app/second_3.jpeg" >
    <img class="photos" src="/static/app/second_4.jpeg" >
    <img class="photos" src="/static/app/second_5.jpeg" >
    <img class="photos" src="/static/app/third_1.jpeg" >
    <img class="photos" src="/static/app/third_2.jpeg" >
    <img class="photos" src="/static/app/third_3.jpeg" >
    <img class="photos" src="/static/app/third_4.jpeg" >
    <img class="photos" src="/static/app/third_5.jpeg" >
    <img class="photos" src="/static/app/third_6.jpeg" >
    <img class="photos" src="/static/app/third_7.jpeg" >
    <img class="photos" src="/static/app/fourth_1.jpeg" >
    <img class="photos" src="/static/app/fourth_2.jpeg" >
    <img class="photos" src="/static/app/fourth_3.jpeg" >
    <img class="photos" src="/static/app/fourth_4.jpeg" >
    <img class="photos" src="/static/app/fourth_5.jpeg" >
    <img class="photos" src="/static/app/fourth_6.jpeg" >
    <img class="photos" src="/static/app/fourth_7.jpeg" >
    <img class="photos" src="/static/app/fourth_8.jpeg" >
    <img class="photos" src="/static/app/fourth_9.jpeg" >
    <img class="photos" src="/static/app/fourth_10.jpeg" >
    <img class="photos" src="/static/app/fourth_11.jpeg" >
    <img class="photos" src="/static/app/fourth_12.jpeg" >
    <img class="photos" src="/static/app/fourth_13.jpeg" >
    <img class="photos" src="/static/app/fourth_14.jpeg" >
    <img class="photos" src="/static/app/fourth_15.jpeg" >
    <img class="photos" src="/static/app/fourth_16.jpeg" >
    <img class="photos" src="/static/app/fourth_17.jpeg" >
    <img class="photos" src="/static/app/fourth_18.jpeg" >
</body>
<script type="text/javascript">
	$(document).ready(function (e){
		
		$(document).on("click","img",function(){
			var path = $(this).attr('src')
			showImage(path);
		});//end click event
		
		function showImage(fileCallPath){
		    
		    $(".bigPictureWrapper").css("display","flex").show();
		    
		    $(".bigPicture")
		    .html("<img src='"+fileCallPath+"' >")
		    .animate({width:'100%', height: '100%'}, 1000);
		    
		  }//end fileCallPath
		  
		$(".bigPictureWrapper").on("click", function(e){
		    $(".bigPicture").animate({width:'0%', height: '0%'}, 1000);
		    setTimeout(function(){
		      $('.bigPictureWrapper').hide();
		    }, 1000);
		  });//end bigWrapperClick event
	});
</script>
{% endblock %}

